<form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="auth-form">
  <h2>Crear cuenta</h2>
  <p class="subtitle">Únete a la comunidad universitaria.</p>

  <div class="input-field">
    <label>Correo UGR</label>
    <input
      type="email"
      formControlName="email"
      placeholder="usuario@correo.ugr.es o usuario@ugr.es"
    />
    @if (registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['ugrEmail']) {
      <small class="error">Debe ser un correo @correo.ugr.es o @ugr.es</small>
    }
  </div>

  <div class="input-field">
    <label>Contraseña</label>
    <input type="password" formControlName="password" placeholder="Mínimo 6 caracteres" />
  </div>

  <div class="input-field">
    <label>Confirmar Contraseña</label>
    <input type="password" formControlName="confirmPassword" placeholder="Repite la contraseña" />
    @if (registerForm.hasError('passwordMismatch')) {
      <small class="error">Las contraseñas no coinciden</small>
    }
  </div>

  <button type="submit" [disabled]="registerForm.invalid" class="btn-main">Registrarse</button>
</form>
